PORT=4000
HOST="0.0.0.0"
LOG_LEVEL="debug"
LOG_PRETTY=true
DATABASE_URL="postgres://db_user:db_pass@localhost:5432/app_db"
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="app_db"
DB_USER="db_user"
DB_PASSWORD="db_pass"
DB_SSL=false
PREVIEW=true
REDIS_URL="redis://127.0.0.1:6379"
JWT_SECRET="1234"